 @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');



 body{
    font-family: 'Poppins', sans-serif;
 }

 .container{
    width: 700px;
    height: auto;
    background: #94A6B2;
    border: solid 2px black;
    margin: 50px auto;
}

.para_infos{
    font-size: 12px;

}

.header{
    height: auto;
   
    display: flex;
    box-sizing: border-box;
}
.title{
    background: #94A6B2;

}
.left{
    padding-top: 20px;
    background-color: #353E4D;
    width: 200px;
}
.right{
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.image{

    box-sizing: border-box; 
    padding-right: 20px;
    margin: 5px;
    margin-top: 15px;  
}

div i{
    padding: 5px;
    font-size: 12px;
}

h4{
    border-left: solid 3px white;
    padding-left: 8px;
    margin: 10px;
    
    
}
.caption p{
    font-size: 12px;
}
.ha{
    border-left: solid 3px black;
    padding-left: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
b{
    font-size: 14px;
    font-weight: bolder;
}
.caption{
    margin: 22px;

}
.tel_address{
    margin: 15px;
    

}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
img{
    width: 200px;
    border-radius: 50%;
    border: solid  3px white;
}
p{
    font-family: 'Poppins', sans-serif;
}
.pra{
    box-sizing: border-box;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    
}
.info{
    margin-left: 25px;
}
.ha{
    padding-left: 5px;
    margin-left: 0px;
}
.title{
    box-sizing: border-box;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;   
}
.infos_tel{
    font-size: 12px;
}
.address{
    margin: 3px;
    color: white;
}
ul li{
    font-size: 12px;

}
@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        height: auto;
        background: #94A6B2;
        border: solid 2px black;
        margin: 50px auto;
    }
    .header{
        height: auto;
        width: 100%;
        display: flex;
        
    }
    h4{
        border-left: solid 3px white;
        padding-left: 8px;
        margin: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 10px;  
    }

    .title{
        box-sizing: border-box;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        width: 100%;   
    }

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 12px;
    }
    .left{
        padding-top: 20px;
        background-color: #353E4D;
        width: 40%;
    }
    .right{
        width: 60%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
    }
    .para_infos{
        font-size: 8px;
    
    }
    div i{
        padding: 5px;
        font-size: 8px;
    }
    .caption {
        font-size: 10px;
    }
    .ha{
        border-left: solid 2px black;
        padding-left: 2px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: 10px;
    }
    .infos_tel{
        font-size: 8px;
    }
    div i{
        padding: 5px;
        font-size: 8px;
    }
    img{
        width: 100px;
        border-radius: 50%;
        border: solid  3px white;
    }
    .image{

        box-sizing: border-box; 
        padding-right: 20px;
        margin: 5px;
        margin-top: 30px;  
    }
    ul li{
        font-size: 8px;
    
    }
    b{
        font-size: 9px;
        font-weight: bolder;
    }
}